.tech-specs {
    display: block;
    width: 100%;
    max-width: var(--content-width, 1230px);
    padding: 40px 75px 20px;

    color: var(--gray, #656565);
    font-family: var(--text-family-main, sans-serif);
    font-size: var(--text-size-tech-specs, 12px);
    font-weight: var(--text-weight-main, 400);

    line-height: var(--text-line-height-specs, 22px);

    background-color: var(--beige, #F6F4F1);

    border-radius: var(--border-radius-flex, 12px);
}

.hidden {
    display: none !important;
}

.tech-specs__title {
    margin: 0 0 30px;

    color: var(--gray, #656565);
    font-family: var(--text-family-main, sans-serif);
    font-size: 50px;
    font-weight: var(--text-weight-extrabold, 700);

    line-height: 60px;

    text-align: center;
}

.tech-specs__specs {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 50px minmax(0, 1fr);
    justify-content: center;
}

.tech-specs__column {
    text-align: center;
}

.tech-specs__specs-title {
    color: #202020;
    font-weight: var(--text-weight-semibold, 600);

    line-height: var(--text-line-height-large, 24px);
}

.tech-specs__specs-items {
    list-style: none;
    margin: 0;
    padding: 0;

    color: var(--gray-dark, #3C3C3C);

    line-height: var(--text-line-height-large, 24px);
}

.tech-specs__specs-item {
    margin-bottom: 30px;

    text-align: center;
}

.tech-specs__specs-item_title {
    font-size: 20px;
    font-weight: var(--text-weight-bold, 600);
}

.tech-specs__button {
    display: inline-block;

    max-width: 220px;
}

.tech-specs__specs-item-title {
    font-size: var(--text-size-product, 16px);    
    font-weight: var(--text-weight-bold, 600);
}


@media (max-width: 768px) {
    .tech-specs {
        padding: 40px 30px 20px;
    }

    .tech-specs__title {
        font-size: 30px;
        
        line-height: 40px;
    }

    .tech-specs__specs {
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        justify-content: center;
    }
}