.flex-image-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--content-width, 1230px);
    margin: 0 auto;

    font-family: var(--text-family-main, sans-serif);
    font-size: var(--text-size-main, 14px);
    font-weight: var(--text-weight-semibold, 400);

    line-height: 175%;

    background-color: var(--beige, #F6F4F1);
    border-radius: var(--border-radius-flex, 12px);

    overflow: hidden;
}

.flex-image-text_background-white {
    background-color: var(--white, #FFFFFF);
}

.flex-image-text_reverse .flex-image-text__item:first-child {
    order: 2;
}

.flex-image-text_reverse .flex-image-text__item:last-child {
    order: 1;
}

.flex-image-text_center .flex-image-text__image {
    margin-bottom: 0;
}

.flex-image-text_center .flex-image-text__text {
    text-align: center;
}

.flex-image-text__item {
    width: 50%;
}

.flex-image-text__item_flex-end {
    display: flex;
    justify-content: flex-end;
}

.flex-image-text__image {
    width: 100%;
    max-width: 600px;
    height: auto;

    border-radius: var(--border-radius-flex, 12px);
}

.flex-image-text__text {
    padding: 0 clamp(20px, 21.7vw - 147px, 120px) 0 clamp(20px, 21.7vw - 147px, 120px);

    text-align: left;
}

.flex-image-text__super {
    margin: 0 0 20px 0;

    text-transform: uppercase;
}

.flex-image-text__title {
    margin: 0;
    padding: 10px 0;

    font-size: 52px;
    font-weight: var(--text-weight-extrabold, 700);

    line-height: 60px;

    text-align: left;
}

.flex-image-text__link {
    color: var(--black-light, #3C3C3C);

    text-decoration: none;
}

@media (max-width: 768px) {
    .flex-image-text {
        display: flex;
        flex-direction: column;
    }

    .flex-image-text__image {
        width: 100%;
        max-width: 100%;
    }

    .flex-image-text__text {
        margin-top: 30px;
        margin-bottom: 20px;
    }   

    .flex-image-text__item:first-child,
    .flex-image-text__item:last-child
    {
        width: 100%;
    }

    .flex-image-text__item:first-child {
        order: 2;
    }

    .flex-image-text__item:last-child {
        order: 1;
    }

    .flex-image-text__super {
        margin-bottom: 10px;

        font-size: 12px;
    }

    .flex-image-text__title {
        font-size: 30px;

        line-height: 100%;
    }
}
